<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <!-- <h1>  <% if(currentUser) { %>
              Welcome <%=currentUser.username%>!
            <% } else { %> Welcome <% }%>
          </h1> -->
          <font size="5">WiFi City</font> </br>
          <font size="1"> <i>Asset Management Utility</i></font>
        </div>
        <div class="topbar-right">
          <% if(currentUser) { %>
            Welcome <%=currentUser.username%>!
            <nav>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
              </form>
            </nav>

          <% } else { %>
            <!-- <a href="/sessions/new">Log In</a> -->
            <form action="/sessions" method="POST">
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <input type="submit" value="Log In" />
            </form>
            <font size="2"> <i>Not a User Yet?  </i>Register <a href="/users/new">here</a></font>
          <% } %>
        </div>
      </div>
      <div class="maincontent">
        <% if(currentUser) { %>
          <h1> logged in content here </h1>
          <% } else { %>
      <% } %>
      </div>
      <div class="bottombar"></div>
    </header>
  </body>
</html>
