<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <% include ../templates/header.ejs %>


        <% if(currentUser) { %>
          <div class="maincontent">
          <font size="2"> <a href = "/wificity/transceivers/index"> Index of Transceivers </a></font></br>
          <font size="2"> <a href = "/wificity/applications/index"> Index of Applications </a></font></br>
          <font size="2"> <a href = "/wificity/map"> FootPrint Map </a></font>
              </div>
          <% } else { %>
      <% } %>

      <div class="bottombar"></div>
  </body>
</html>
