<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <% include ../../templates/header.ejs %>
  <body>
    <div id="maincontent">
      <h1 id="subtitle"> Edit Application Page </h1>
    <form action="/wificity/applications/<%=application.id%>?_method=PUT" method="Post">
      owner: <input type="text" name="owner" value="<%=application.owner%>"/><br/>
      color: <input type="text" name="color" value="<%=application.color%>"/><br/>
      transceiver(s): <input type="text" name="transceivers" value="<%=application.transceivers%>"/><br/>
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </div>
  <div class="bottombar"></div>
</body>
</html>
