<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
    <% include ../../templates/header.ejs %>
  <body>

    <div id="maincontent">
      <h1 id="subtitle">Applications</h1>

        <a id="submenu" href="/wificity/applications/newapplication">ADD APPLICATION</a><br/>

        <ul>
            <% for(var i = 0; i < applications.length; i++){ %>
                <li>
              <a href="/wificity/applications/<%=applications[i]._id%>"><%=applications[i].owner; %></a><br/>
                </li>
            <% } %>
        </ul>

      </div>
      <div class="bottombar"></div>
  </body>
</html>
