<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <font size="5">WiFi City</font> </br>
          <font size="1"> <i>Asset Management Utility</i></font>
        </div>
        <div class="topbar-right">
            <nav>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
              </form>
            </nav>
        </div>
      </div>
      <div class="maincontent">
    <h1> Add an Application </h1><br><br>
    <form action="/wificity/applications" method="POST">
           owner: <input type="text" name="owner" /><br/>
           color: <input type="text" name="color" /><br/>
           transceiver(s): <input type="text" name="transceivers" /><br/>
           <input type="submit" name="" value="Create Application"/>
    </form>
    <a href="/wificity/">Back to Application Index</a>
</div>
<div class="bottombar"></div>
</header>
</body>
</html>
