<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <% include ../../templates/header.ejs %>
      <div class="maincontent">
    <h1> Add an Application </h1><br><br>
    <form action="/wificity/applications" method="POST">
           owner: <input type="text" name="owner" /><br/>
           color: <input type="text" name="color" /><br/>
           transceiver(s): <input type="text" name="transceivers" /><br/>
           <input type="submit" name="" value="Create Application"/>
    </form>
</div>
<div class="bottombar"></div>
</body>
</html>
