<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>

 <% include ../../templates/header.ejs %>

      <div id="maincontent">
        <h1 id="subtitle">Transceivers</h1>

        <a id="submenu" href="/wificity/transceivers/newtransceiver">ADD TRANSCEIVER</a><br/>

        <ul>
            <% for(var i = 0; i < transceivers.length; i++){ %>
                <li>
              <a href="/wificity/transceivers/<%=transceivers[i]._id%>"><%=transceivers[i].model; %></a><br/>
                </li>
            <% } %>
        </ul>

      </div>
      <div class="bottombar"></div>

  </body>
</html>
