<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <font size="5">WiFi City</font> </br>
          <font size="1"> <i>Asset Management Utility</i></font>
        </div>
        <div class="topbar-right">
            <nav>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
              </form>
            </nav>
        </div>
      </div>
      <div class="maincontent">
        <h1>Transceivers</h1>

        <a href="/wificity/transceivers/newtransceiver">Add Transceiver</a><br/>

        <ul>
            <% for(var i = 0; i < transceivers.length; i++){ %>
                <li>
              <a href="/wificity/transceivers/<%=transceivers[i]._id%>"><%=transceivers[i].model; %></a><br/>
                </li>
            <% } %>
        </ul>

      </div>
      <div class="bottombar"></div>
    </header>
  </body>
</html>
