<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <font size="5">WiFi City</font> </br>
          <font size="1"> <i>Asset Management Utility</i></font>
        </div>
        <div class="topbar-right">
            <nav>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
              </form>
            </nav>
        </div>
      </div>
      <div class="maincontent">
    <h1> Add a Transceiver </h1><br><br>
    <form action="/wificity/transceivers" method="POST">
           type: <input type="text" name="type" /><br/>
           model: <input type="text" name="model" /><br/>
           wirelessRange: <input type="text" name="wirelessRange" /><br/>
           power: <input type="text" name="power" /><br/>
           location: <input type="text" name="location" /><br/>
           <input type="submit" name="" value="Create Transceiver"/>
    </form>
    <a href="/wificity/">Back to Transceiver Index</a>
</div>
<div class="bottombar"></div>
</header>
</body>
</html>
