<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>

     <% include ../../templates/header.ejs %>

      <div class="maincontent">
    <h1> Add a Transceiver </h1><br><br>
    <form action="/wificity/transceivers" method="POST">
           type: <input type="text" name="type" /><br/>
           model: <input type="text" name="model" /><br/>
           wirelessRange: <input type="text" name="wirelessRange" /><br/>
           power: <input type="text" name="power" /><br/>
           location: <input type="text" name="location" /><br/>
           <input type="submit" name="" value="Create Transceiver"/>
    </form>
</div>
<div class="bottombar"></div>
</body>
</html>
